/* 
-- Font used in this page --
font-family: 'Roboto', sans-serif;
font-family: 'Sue Ellen Francisco', cursive; 
*/

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* anchor tag reset */
a {
    text-decoration: none;
}

a:hover{
    opacity: 0.9;
    transition: ease-in-out 300ms;
    color: #ffc107 !important;
}

.fa-brands:hover {
    opacity: 0.9;
    transition: ease-in-out 300ms;
    color: #ffc107 !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    cursor: context-menu;
    background-color:rgb(11,11,10);

}

/* navbar background color */
.navbar {
    background-color: rgba(13.73, 12.165, 12.55, 0.8) !important;
    font-family: 'Sue Ellen Francisco', cursive; 
    z-index: 99999999 !important;
}

.navbar img{
    height: 70px;
    width: 100%;
}


/* for js #hamburger1 onclick function */
.hide {
    visibility: hidden;
    z-index: -9999;
}

.show {
    display: block !important;
    z-index: 9999;
}




nav button{
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 2rem;
}

#hamburger1{
    position: relative;
}

#hamburger2{
    z-index: 1;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 50%;
    top: 0;
    transform: translate(-50%, 20%);
}

/* X */
#close {
    position: relative;
   display: none;
    color: aliceblue;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#nav-lists li{
    position:relative;
}


#nav-lists li::before{
    content: " ";
    background-image: url(../img/coffee-animation.gif);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 4rem;
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, -15%);
}

#nav-lists li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: #fff;
    transition: width ease-out 200ms;
}

#nav-lists li:hover::after{
    width: 100%;
}

/* remove the coffee gif when the with is <= 991px */
@media only screen and (max-width: 991px) {
    ul li::before{
        display: none;
    }
  }





#about-info-header-bg{
    position:relative;
    z-index: -1;
}


#about-info-header-bg::before{
    content: "hey";
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-attachment: fixed;
    background-image: url(../img/info-bg.jpg);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    opacity: 0.5;
    
}


#about-info-header-bg #about-us-title{
    position:absolute;
    z-index: -1;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0%);
}


#about-section {
    position: absolute;
    left: 0;
    bottom: -2000px;
    transform: translate(0%,0%);
    z-index: 1;
    background-color:rgb(11,11,10);
}

#about-section p{
    line-height: 2rem;
    word-spacing: 0.2rem;
}


#footer {
    margin-top: 10rem;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
    padding: 10rem 0 !important;
}

#footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/cafe-milan-loc.png);
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.3;
}



@media only screen and (max-device-width: 980px) {
    #about-info-header-bg::before{
        background-attachment:scroll;
        background-position:right center;
    }

    #about-info-header-bg #about-us-title{
        position: absolute;
        top: 20%;
    }

    #about-section {
        position: relative;
        left: 0;
        bottom: 0;
        transform: translate(0%,0%);
        z-index: 1;
        background-color: black;
        color: red;
    }

  }

  @media only screen and (max-device-width: 747px) {
    #about-info-header-bg #about-us-title{
        position: absolute;
        top: 15%;
    }
    
}

@media only screen and (max-device-width: 500px) {
    #about-info-header-bg #about-us-title{
        position: absolute;
        top: 10%;
    }

    #about-section{
        margin-top: 15rem
    }
}
