/* 
-- Font used in this page --
font-family: 'Roboto', sans-serif;
font-family: 'Sue Ellen Francisco', cursive; 
*/

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* anchor tag reset */
a {
    text-decoration: none;
}

a:hover{
    opacity: 0.9;
    transition: ease-in-out 300ms;
    color: #ffc107 !important;
}

.fa-brands:hover {
    opacity: 0.9;
    transition: ease-in-out 300ms;
    color: #ffc107 !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    cursor: context-menu;
    background-color:rgb(11,11,10);
}

/* navbar background color */
.navbar {
    background-color: rgba(13.73, 12.165, 12.55, 0.8) !important;
    font-family: 'Sue Ellen Francisco', cursive; 
    z-index: 99999999 !important;
}

.navbar img{
    height: 70px;
    width: 100%;
}


/* for js #hamburger1 onclick function */
.hide {
    visibility: hidden;
    z-index: -9999;
}

.show {
    display: block !important;
    z-index: 9999;
}




nav button{
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 2rem;
}

#hamburger1{
    position: relative;
}

#hamburger2{
    z-index: 1;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 50%;
    top: 0;
    transform: translate(-50%, 20%);
}

/* X */
#close {
    position: relative;
   display: none;
    color: aliceblue;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#nav-lists li{
    position:relative;
}


#nav-lists li::before{
    content: " ";
    background-image: url(../img/coffee-animation.gif);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 4rem;
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, -15%);
}

#nav-lists li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: #fff;
    transition: width ease-out 200ms;
}

#nav-lists li:hover::after{
    width: 100%;
}

/* remove the coffee gif when the with is <= 991px */
@media only screen and (max-width: 991px) {
    ul li::before{
        display: none;
    }
  }


  #form{
      width: 100vw;
      height: 100;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, 0%);
  }



#name-container,
#email-container {
    position: relative;
    height: 70px;
    background-color: transparent;
    border: none;
}

#name,
#email {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 25px;
    color: #fff;
    outline: none;
    transition: width 300ms ease-in-out;
}

#name:focus, #name:not(:placeholder-shown),
#email:focus, #email:not(:placeholder-shown)  {
    width: 100%;
}

#name-label,
#email-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    transition: top 300ms ease-in, left 300ms ease-in, color 1s;
}


#name:focus ~ #name-label,
#name:not(:placeholder-shown)#name:not(:focus) ~ #name-label {
    top: -1.2rem;
    font-size: 1.2rem;
    left: 0rem;
    color: rgb(4, 255, 0) !important;
    background-color:rgb(11,11,10);
}

#email:focus ~ #email-label,
#email:not(:placeholder-shown)#email:not(:focus) ~ #email-label{
    top: -1.2rem;
    font-size: 1.2rem;
    left: 0rem;
    color: rgb(4, 255, 0) !important;
    background-color:rgb(11,11,10);
}


textarea{
    resize: none;
    height: 415px;
    font-size: 25px !important;
}

