/* 
-- Font used in this page --
font-family: 'Roboto', sans-serif;
font-family: 'Sue Ellen Francisco', cursive; 
*/

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* anchor tag reset */
a {
    text-decoration: none;
}

a:hover{
    opacity: 0.9;
    transition: ease-in-out 300ms;
    color: #ffc107 !important;
}

.fa-brands:hover {
    opacity: 0.9;
    transition: ease-in-out 300ms;
    color: #ffc107 !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    cursor: context-menu;
    background-color:rgb(11,11,10);
}

#arrow{
    position: fixed;
    bottom: -1%;
    right: 0%;
    z-index: 10;
}

#arrow img{
    width: 120px;
    height: 120px;
}

/* navbar background color */
.navbar {
    background-color: rgba(13.73, 12.165, 12.55, 0.8) !important;
    font-family: 'Sue Ellen Francisco', cursive; 
    z-index: 99999999 !important;
}

.navbar img{
    height: 70px;
    width: 100%;
}


/* for js #hamburger1 onclick function */
.hide {
    visibility: hidden;
    z-index: -9999;
}

.show {
    display: block !important;
    z-index: 9999;
}




nav button{
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 2rem;
}

#hamburger1{
    position: relative;
}

#hamburger2{
    z-index: 1;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 50%;
    top: 0;
    transform: translate(-50%, 20%);
}

/* X */
#close {
    position: relative;
   display: none;
    color: aliceblue;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#nav-lists li{
    position:relative;
}


#nav-lists li::before{
    content: " ";
    background-image: url(../img/coffee-animation.gif);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 4rem;
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, -15%);
}

#nav-lists li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: #fff;
    transition: width ease-out 200ms;
}

#nav-lists li:hover::after{
    width: 100%;
}


ul li.active{
    color: #ffc107;
}


@media only screen and (max-width: 991px) {
    ul li::before{
        display: none;
    }
  }




.card img{
    object-fit: contain;
    height: 350px;
}

.card{
    position: relative;
}

.card::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.3);
}

#categorized{
    position: fixed;
    margin-left: -100% ;
    top: 15%;
 }

#search-container {
    width: 50%;
    position: relative;
}

#search-container :where(label, input){
    position: absolute;
    bottom: 0;
}

#search-container input{
    width: 100%;
    left: 2%;
    outline: 0;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    color: #fff;
    padding-left: 1rem;
}

#search-container label{
    bottom: 0;
    border: none;
    left: 0%;
    transition: left ease 1s;
    font-size: 1.8rem;
}

#searchBar:focus ~ #searchLabel,
#searchBar:not(:placeholder-shown)#searchBar:not(:focus) ~ #searchLabel {
    bottom: 0;
    left: -20px;
    color: #FFC107 !important;
    font-weight: bolder;
}

@media only screen and (max-width: 1400px) {
    #categorized{
        position: inherit;
     }

    #search-container {
        width: 50%;
        position: relative;
        margin-left: 0%;
    }
  }


  @media only screen and (max-width: 990px) {

    #search-container {
        width: 50%;
        position: relative;
        margin-left: 40%;
    }

    #search-container input{
        width: 100%;
        left: 5%;
        outline: 0;
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        color: #fff;
        padding-left: 1rem;
    }

    #search-container label{
        bottom: 0;
        border: none;
        left: -1%;
        transition: left ease 1s;
        font-size: 1.8rem;
    }
  }

  @media only screen and (max-width: 786px) {
    #search-container {
        width: 50%;
        position: relative;
        margin-left: 40%;
    }

    #search-container input{
        width: 100%;
        left: 5%;
        outline: 0;
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        color: #fff;
        padding-left: 1rem;
    }
  }

  @media only screen and (max-width: 500px) {
    #search-container {
        width: 50%;
        position: relative;
        margin-left: 30%;
    }
    #search-container input{
        width: 100%;
        left: 10%;
        outline: 0;
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        color: #fff;
        padding-left: 1rem;
    }
  }


#footer {
    margin-top: 10rem;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1;
    overflow: hidden;

}

#footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/cafe-milan-loc.png);
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.3;
}